div {
    background-color: aqua;
    box-sizing: border-box;
    width: 600px;
    height: 300px;
}
p{
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
}
#p1{
    background-color: yellow;
    clear :left;
}

#p2{
    background-color: violet;
}

#p3{
    background-color: grey;
    clear: left;
}

#p4{
    background-color: blue;
}